<template>
  <div id="page" class="flex flex-col bg-primary p-8">
    <header>
      <div class="flex justify-between">
        <div>
          <span class="text-white mr-2">Login</span>
          <span class="text-white mr-2">Entries</span>
        </div>
        <div id="search-area" class="relative">
          <input type="text" id="box" class="bg-black bg-opacity-80 w-72 p-1 text-white" />
          <svg class="text-red-600 w-7 h-7 absolute right-0 top-0 p-1 bg-black cursor-pointer">
            <path :d="icons.magnify" class="fill-current" />
          </svg>
        </div>
      </div>
      <nav
        class="flex uppercase justify-between text-white pt-4 items-center bg-gradient-to-t from-secondary"
      >
        <div id="logo" class="text-white px-8 font-bold text-3xl">
          CELEBRITIES
          <span class="bg-red-600 text-black px-2 text-base rounded-sm">fan Zone</span>
        </div>
        <ul class="font-bold hidden cursor-pointer md:flex">
          <li
            v-for="(item ,index) in menuItems"
            :key="index"
            class="px-4 py-4 border-r-2 border-t-0 border-black border-b-0 menu-item"
          >{{ item }}</li>
        </ul>
        <div class="md:hidden text-right relative">
          <svg
            class="text-white w-10 h-10 text-center p-2 bg-black cursor-pointer inline"
            @click="toggleNavbar = !toggleNavbar"
          >
            <path :d="icons.menu" class="fill-current" />
          </svg>
          <ul
            class="border-2 border-gray-500 cursor-pointer absolute z-10 right-0 bg-black"
            v-show="toggleNavbar"
          >
            <li
              v-for="(item ,index) in menuItems"
              :key="index"
              class="p-2 text-sm border-b-2 border-t-0 border-black border-b-0 hover:bg-white hover:bg-opacity-30"
            >{{ item }}</li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="flex md:flex-row justify-between text-white mt-8 sm:flex-col">
      <aside class="bg-secondary text-left 2xl:w-96 xl:w-80 md:w-52 sm:w-full">
        <div
          class="p-3 border-b-2 hover:bg-white border-gray-700 hover:bg-opacity-40 uppercase text-xs font-bold cursor-pointer"
          v-for="(item ,index) in asideItems"
          :key="index"
        >{{ item }}</div>
      </aside>
      <main class="m-0 md:ml-7 w-full">
        <section id="hero">
          <!-- <div class="relative h-80 overflow-hidden">
            <img
              class="w-full object-cover"
              src="https://images.unsplash.com/photo-1625061007479-315dd63120aa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjI1MTI1Njkz&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit"
            />
            <div
              class="pb-7 absolute bg-gradient-to-t from-black to-transparent inset-0 w-full h-full uppercase flex flex-col text-center justify-end"
            >
              <h2 class="text-3xl px-12">Lorem ipsum, dolor sit amet consect</h2>
              <p
                class="text-red-600 text-xs px-12 mt-4"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cupiditate odit, quasi hic maxime cum.</p>
            </div>
          </div>-->
          <card
            height="h-80"
            :title="hero.title"
            :description="hero.description"
            :image="hero.image"
          />
        </section>

        <section id="2-col" class="flex flex-wrap">
          <card
            v-for="(item , index) in sectionTwo"
            :key="index"
            :title="item.title"
            :description="item.description"
            :image="item.image"
            height="h-48"
            class="w-1/2 mt-6"
            :class="{
              'pr-3' : (index+1) % 2,
              'pl-3' : index % 2
            }"
          />
        </section>

        <div class="px-3 py-1 uppercase bg-black my-4 text-left">featured articles</div>
        <section class="flex flex-wrap">
          <div
            class="flex flex-col sm:w-1/3 lg:w-1/5 overflow-hidden h-72 px-2"
            v-for="(item , key) in featuredArticles"
            :key="key"
          >
            <img class="w-full object-cover h-full" :src="item.image" />
            <div class="h-24 bg-gray-400 bg-opacity-20 text-center">
              <p
                class="text-sm text-gray-500 overflow-ellipsis overflow-hidden whitespace-nowrap px-4"
              >{{ item.title }}</p>
              <p>{{ item.description }}</p>
            </div>
          </div>
        </section>
      </main>
    </div>
    <div>- end</div>
  </div>
</template>

<script lang="ts" >
import { ref, defineComponent, reactive, onMounted } from "vue";
import Card from "@/components/Card.vue";
import { mdiMagnify, mdiMenu } from "@mdi/js";
import axios from "axios";

interface SampleCart {
  title: string;
  image: string;
  description?: string;
}

namespace ResponseHome {
  export interface RootObject {
    hero: SampleCart;
    sectionTwo: SampleCart[];
    featuredArticles: SampleCart[];
  }
}

export default defineComponent({
  components: { Card },
  setup() {
    const asideItems = reactive([
      "actors",
      "actresses",
      "authors",
      "directors",
    ]);

    const hero: SampleCart | {} = reactive({}),
      sectionTwo: SampleCart[] = reactive([]),
      featuredArticles: SampleCart[] = reactive([]);

    onMounted(async () => {
      const { data } = await axios.get<ResponseHome.RootObject>("fakeapi.json");

      Object.assign(hero, data.hero);

      data.sectionTwo.forEach((e) => {
        sectionTwo.push(e);
      });

      data.featuredArticles.forEach((e) => {
        featuredArticles.push(e);
      });
    });

    const menuItems = reactive([
      "home",
      "celebtities",
      "galery",
      "news",
      "contacts",
    ]);
    const toggleNavbar = ref(false);

    const icons = {
      magnify: mdiMagnify,
      menu: mdiMenu,
    };

    return {
      toggleNavbar,
      asideItems,
      menuItems,
      icons,
      hero,
      sectionTwo,
      featuredArticles,
    };
  },
});
</script>

<style lang="scss" scoped>
.menu-item:hover {
  @apply bg-gradient-to-b hover:from-secondary hover:to-primary;
}
</style>