<template>
  <div :class="height">
    <div class="relative overflow-hidden h-full">
      <img class="w-full object-cover" :src="image" />
      <div
        class="md:pb-4 lg:pb-7 sm:pb-2 absolute bg-gradient-to-t from-black to-transparent inset-0 w-full h-full uppercase flex flex-col text-center justify-end"
      >
        <h2 class="md:text-xl lg:text-3xl px-12">{{title}}</h2>
        <p
          v-if="description"
          class="text-red-600 line-clamp-3 overflow-hidden overflow-ellipsis text-xs px-12 mt-4"
        >{{description}}</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Card",
  props: {
    height: String,
    image: String,
    title: String,
    description: String,
  },
});
</script>

<style scoped lang="scss">
</style>
